.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--header-background);
  height: 45px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--header-bottom-border-color);
  padding: 4px;
}
.header-content{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.header-logo-container{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  user-select: none;
  
}
.header-logo{
  font-size: 26px;
  font-weight: bold;
}
.logo-ed{
  font-size: 26px;
  font-weight: bolder;
  color: rgb(19, 147, 197);
}
.logo-video{
  color: var(--compony_logo_video);
}

.themeBtn{
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 100rem;
  padding: 8px 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  cursor: pointer;
}

.left-content{

}
.center-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 425px;
  height: 35px;
  margin: 0 12px;
  z-index: 10;
  background-color: var(--header-background);
}
.right-content{
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.header-search-mobile-btn{
  display: none;
  width: 35px;
  height: 35px;
  border-radius: 100rem;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  cursor: pointer;
}
.header-search-back{
  display: none;
  width: 35px;
  height: 35px;
  border-radius: 100rem;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  cursor: pointer;
}

@media screen and (min-width:700px) {
  .center-content{
    display: flex;
  }
}

@media screen and (max-width:600px) {
  .header-search-mobile-btn{
    display: block;
  }
  .header-search-back{
    display: block;
  }
  .center-content{
    display: none;
    position:absolute;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
}