a{ 
  color: var(--body_color);
  text-decoration: none;
}

.home{
  position: relative;
  color: var(--body_color);
}

/* Video List */
.video-list{
  height: fit-content;
  max-width: 1400px;
  margin: auto;
}
.video-list-container{
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 6px;
  height: 100%;
  height: fit-content;
}
.Play{
  padding: 15px;
  height: fit-content;
  background-color: transparent;
  cursor: pointer;
}
.play-image-container{
  position: relative;
  width: 100%;
}
.play-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.play-time{
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
}
.play-info-title{
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.play-info-qLength{
  width: fit-content;
  background-color: var(--body_low_background);
  padding: 5px 10px;
  border-radius: 4px;
}

.empty-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 20px;
  margin: auto;
}

.video-load{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
.load-more{
  font-weight: bold;
  width: fit-content;
  height: 35px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(238, 238, 238);
  border-radius: 100rem;
  cursor: pointer;
  margin: 10px;
  padding: 0 15px;
}

@media screen and (max-width: 1300px) {
  .video-list-container{
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 1250px) {
  .video-list-container{
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 900px) {
  .video-list-container{
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .video-list-container{
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  .play-info{
    padding: 5px 15px;
  }
  .Play{
    padding: 0px;
  }
  .play-image{
    border-radius: 0px;
  }
}

